$color-walter-white: #ffffff;
$color-white: #fafafa;
$color-grey-soft: #e8e8e8;
$color-grey-mid: #d1d1d1;
$color-grey-strong: #a4a1a1;
$color-black-t29: #00000029;
$color-orange-soft: #f26c4f;
$color-orange-strong: #fe2c00;

$roboto: 'Roboto', sans-serif;
$openSans: 'Open Sans', sans-serif;
