//  App Banner

.header {
	width: 100%;
	height: 88px;
	background: $color-orange-soft;
	display: flex;
	align-items: center;
	padding: 22px;
	padding-top: 42px;
	position: sticky;
	top: 0;
	z-index: 2;
	box-shadow: 0px 3px 3px $color-black-t29;
}

.menu-button {
	background: transparent;
	border: none;
	width: 20px;
	height: 20px;
	position: relative;

	&--secondary {
		position: absolute;
		right: 15px;
		display: block;

		&:hover .vertical-elipsis::before {
			bottom: 8px;
		}

		&:hover .vertical-elipsis::after {
			top: 8px;
		}
	}

	&:hover .bar-icon::before {
		bottom: 7px;
	}

	&:hover .bar-icon::after {
		top: 7px;
	}
}

.bar-icon {
	display: block;
	height: 2px;
	width: 18px;
	background: $color-walter-white;
	position: relative;
	transition: all ease;

	&::before,
	&::after {
		content: '';
		height: 2px;
		width: 18px;
		background: $color-walter-white;
		position: absolute;
		left: 0;
		transition: all ease 0.3s;
	}

	&::before {
		bottom: 5px;
	}

	&::after {
		top: 5px;
	}
}

.page-title {
	text-transform: uppercase;
	color: $color-white;
	font-family: $roboto;
	font-weight: 500;
	font-size: 20px;
	margin-left: 30px;
}

.vertical-elipsis {
	position: absolute;
	height: 4px;
	width: 4px;
	border-radius: 100%;
	background: $color-walter-white;

	&::before,
	&::after {
		content: '';
		height: 4px;
		width: 4px;
		border-radius: 100%;
		background: $color-walter-white;
		position: absolute;
		left: 0;
		transition: all ease 0.3s;
	}

	&::before {
		bottom: 6px;
	}

	&::after {
		top: 6px;
	}
}
