//  App Banner

.header {
	width: 100%;
	height: 84px;
	background: $color-orange-soft;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 42px 10px 22px 10px;
	position: sticky;
	top: 0;
	z-index: 2;
	box-shadow: 0px 3px 3px $color-black-t29;

	&__left-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}

.menu-button {
	background: transparent;
	border-radius: 50%;
	border: none;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background 0.3s;

	&:hover {
		background: $color-black-t29;
	}

	&--secondary {
		position: relative;
		&:hover {
			background: $color-black-t29;
		}
	}
}

.bar-icon {
	display: block;
	height: 2px;
	width: 18px;
	position: relative;
	background: $color-walter-white;
	transition: all ease;

	&::before,
	&::after {
		content: '';
		height: 2px;
		width: 18px;
		background: $color-walter-white;
		position: absolute;
		left: 0;
		transition: transform ease 0.3s;
	}

	&::before {
		transform: rotate(0deg);
		bottom: 5px;
	}

	&::after {
		transform: rotate(0deg);
		top: 5px;
	}

	&.bar-icon--checked {
		visibility: hidden;

		&::before {
			visibility: visible;
			transform: rotate(45deg);
			bottom: 0;
		}

		&::after {
			visibility: visible;
			transform: rotate(-45deg);
			top: 0;
		}
	}
}

.page-title {
	text-transform: uppercase;
	color: $color-white;
	font-family: $roboto;
	font-weight: 500;
	font-size: 20px;
	margin-left: 34px;
}

.vertical-elipsis {
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	height: 4px;
	width: 4px;
	border-radius: 100%;
	background: $color-walter-white;

	&::before,
	&::after {
		content: '';
		height: 4px;
		width: 4px;
		border-radius: 100%;
		background: $color-walter-white;
		position: absolute;
		left: 0;
		transition: all ease 0.3s;
	}

	&::before {
		bottom: 6px;
	}

	&::after {
		top: 6px;
	}
}
