//  Capsules of days

.capsules {
	width: 320px;
	height: 34px;
	margin: auto;
	margin-top: 27px;
}

.selector {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 400;
	font-size: 16px;

	&__button {
		border: none;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__button:hover {
		color: $color-white;
		font-family: $openSans;
		// background: linear-gradient(180deg, $color-orange-soft, $color-orange-strong);
		background: $color-orange-soft;
	}

	&__button--left,
	&__button--right {
		height: 34px;
		width: 33.3%;
		line-height: 34px;
		text-align: center;
		font-family: $roboto;
		color: $color-grey-strong;
		background: $color-grey-soft;
	}

	&__button--left {
		border-radius: 17px 0 0 17px;
	}

	&__button--right {
		border-radius: 0 17px 17px 0;
	}

	&__button--middle {
		height: 34px;
		width: 33.3%;
		line-height: 34px;
		text-align: center;
		font-family: $openSans;
		color: $color-white;
		background: linear-gradient(180deg, $color-orange-soft, $color-orange-strong);
	}
}

.button {
	background: none;
	border: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}
