//  Line divider & Counters

.divider {
	margin: 25px 20px 16px 20px;
	border: solid 1px $color-grey-strong;
	opacity: 0.5;
}

.counter {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-family: $roboto;
	text-transform: uppercase;
	margin: 0 20px;
}

.total {
	margin-top: 7px;

	&__title {
		font-weight: 400;
		font-size: 14px;
		color: $color-grey-strong;
	}

	&__count {
		font-weight: 400;
		font-size: 14px;
		color: $color-grey-strong;
	}
}

.week {
	&__title {
		font-weight: 500;
		font-size: 14px;
		color: $color-orange-soft;
	}

	&__count {
		font-weight: 500;
		font-size: 18px;
		color: $color-orange-soft;
	}
}
