.container {
	max-height: 90vh;
	height: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container__illustration {
	width: 30vw;
	min-width: 300px;
}

.container__text {
	width: 800px;
	max-width: 90vw;
	font-family: Montserrat, sans-serif;
	font-size: 1.2em;
	text-align: center;
}

.container__text--secondary {
	width: 800px;
	max-width: 90vw;
	font-family: Open Sans, sans-serif;
	font-size: 1em;
}

.text-link {
	color: #ffc867;
	text-decoration: none;
	font-family: Montserrat, sans-serif;
}

.text-link:hover {
	text-decoration: underline;
}
